In [1]:
# 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [2]:
# 과거의 데이터 준비

파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
보스턴 = pd.read_csv(파일경로)
print(보스턴.columns)
보스턴.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [4]:
# 독립변수, 종속변수 분리
독립 = 보스턴[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
종속 = 보스턴 [['medv']]
print(독립.shape, 종속.shape)

(506, 13) (506, 1)

In [6]:
# 모델의 구조 만들기
X = tf.keras.layers.Input(shape=[13])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [19]:
# 데이터로 모델을 학습하기
# model.fit(독립, 종속, epochs=100000, verbose=0)
model.fit(독립, 종속, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 957us/step - loss: 22.6462
Epoch 2/10
16/16 [==============================] - 0s 881us/step - loss: 22.6895
Epoch 3/10
16/16 [==============================] - 0s 899us/step - loss: 22.1761
Epoch 4/10
16/16 [==============================] - 0s 900us/step - loss: 22.8254
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 22.6558
Epoch 6/10
16/16 [==============================] - 0s 998us/step - loss: 22.9419
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 22.6017
Epoch 8/10
16/16 [==============================] - 0s 1ms/step - loss: 22.6395
Epoch 9/10
16/16 [==============================] - 0s 976us/step - loss: 22.3982
Epoch 10/10
16/16 [==============================] - 0s 1ms/step - loss: 22.5946

In [12]:
# 모델을 이용합니다.
print(model.predict(독립[0:5]))

[[29.34599 ]
 [24.165802]
 [30.755848]
 [29.444475]
 [29.074469]]

In [13]:
종속[0:5]

   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [14]:
# 모델의 수식 확인
model.get_weights()

[array([[-0.0924654 ],
        [ 0.04930371],
        [-0.02615133],
        [ 2.6586483 ],
        [-0.47853842],
        [ 5.3555503 ],
        [-0.01147587],
        [-1.0263922 ],
        [ 0.18970141],
        [-0.01130235],
        [-0.48243785],
        [ 0.01309918],
        [-0.4593827 ]], dtype=float32), array([6.1361566], dtype=float32)]